@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: 25, 25, 32;

  --text-primary: 197, 199, 202;
  --text-secondary: 127, 128, 132;

  --cta-text: 255, 255, 255;

  background: rgba(var(--background));
}
