@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: #131319;
  --section-background: #27292d;

  --border-primary: #35373b;

  --text-primary: #c5c7ca;
  --text-secondary: #7f8084;
  --text-tertiary: #6b6c70;

  --cta-text: #fff;
  --cta-primary: #4a96ff;

  background: var(--background);
  color: var(--cta-text);
}
